<div class="cody">
    <h1 class="test">Welcome to our first page</h1>
     <div class="login-box">
       <h2 *ngIf=success  class="text-primary">Successfully Registered</h2>
       <h2 *ngIf=success class="text-danger">Username Already Exist</h2>
       <h2 class="text-center">SignUp</h2>
       <br>
       <form 
       name="form"
       (ngSubmit)="onSubmit()"
       #f="ngForm">
       <div class="form-group">
        <label for="username">Username</label>
        <input type="text" 
        class="form-control" 
        name="username" 
        [(ngModel)]="user1.username"
        ngModel
        required/>
     </div>
     
    <div class="form-group" id ="gameplay-away-team">
        <label for="password">Password</label>
        <input type="password" 
        class="form-control" 
        name="password"
        [(ngModel)]="user1.password" 
        ngModel
        required/>
     </div>
           <div class="form-group">
                <br>
                <br>
                <button class="btn btn-primary btn-block btn-lg">SignUp</button>
           </div>
           
       </form>
    </div>
</div>
